$purple: #AA55FF;
$blue: #584BDD;
$green: #2FE57C;
// header css start here 
ion-header ion-toolbar:first-child {
    --background: #AA55FF !important;
}

.header-md:after {
    background-image: unset;
}

ion-menu-button {
    --color: #fff;
}

.middle_sec {
    font-size: 18px;
    font-weight: 500;
}

.back_icon {
    ion-img {
        height: 18px;
        width: 18px;
        margin-top: 4px;
    }
}

// header css end here
// content css start here
ion-content {
    --background: linear-gradient(#AA55FF, #584BDD) !important;
    &:after {
        content: "";
        background-image: url('../../assets/images/illustration.png');
        background-repeat: no-repeat;
        background-position: center 93%;
        background-size: contain;
        background-attachment: fixed;
        padding-right: 100%;
        padding-bottom: 100vh;
        z-index: 1;
        position: absolute;
    }
}

.benefits_content {
    padding: 10px;
    z-index: 11;
    position: relative;
}

.card {
    .card_header {
        border-bottom: 1px solid #C7CBD6;
        padding: 12px 15px;
        ion-img {
            height: 25px;
            width: 25px;
            float: left;
            margin-right: 15px;
        }
        p {
            color: #434A5E;
            font-weight: 600;
            line-height: 26px;
        }
    }
    .card_body {
        padding: 18px;
        p {
            color: #707070;
            font-weight: 600;
            line-height: 26px;
            text-align: center;
            margin-top: 25px;
            font-size: 14px;
        }
        h3 {
            color: #434A5E;
            font-size: 22px;
        }
    }
    .card_footer {
        padding: 10px 15px;
        margin-top: -15px;
        button {
            border-radius: 30px;
            padding: 15px;
            color: #ffffff;
            font-size: 14px;
            position: relative;
            width: 100%;
            font-weight: 500;
            outline: none;
            background: linear-gradient(to right, $blue, $purple);
            ion-img {
                position: absolute;
                height: 24px;
                width: 24px;
                bottom: 10px;
                left: 6%;
            }
        }
    }
}