$purple: #AA55FF;
$blue  : #584BDD;

// header css start here 
ion-header ion-toolbar:first-child {
    --background: #AA55FF !important;
}

.header-md:after {

    background-image: unset;

}

ion-menu-button {
    --color        : #fff;
  }

ion-menu-button:hover {
    --background-color: #AA55FF;
}

.middle_sec {
    font-size  : 18px;
    font-weight: 500;
}

.back_icon {
    ion-img {
        height    : 18px;
        width     : 18px;
        margin-top: 4px;
    }
}

// header css end here 
// content css start here 
ion-content {
    --background: linear-gradient(#AA55FF, #584BDD);
    
    &:after {
        content              : "";
        background-image     : url('../../assets/images/illustration.png');
        background-repeat    : no-repeat;
        background-position: center bottom;
        background-size      : contain;
        background-attachment: fixed;
        padding-right        : 100%;
        padding-bottom       : 100vh;
        z-index              : 1;
        position             : absolute;
    }
}
.plan_option_content {
    padding: 10px;
    position: relative;
    z-index: 11;
    .card{
        border: none;
        cursor: pointer;
              h6{
            color: #434A5E;
            font-size: 15px;
            padding: 15px;
            font-weight: 500;
            border-bottom: 1px solid #C7CBD6;
        }
        h3{
            color: #434A5E;
            font-size: 22px;
            padding: 15px 0px;
        }
        p{
            padding: 5px 10px 15px 10px;
            font-size: 14px;
            color: #434A5E;
        }
    }
}