$purple: #AA55FF;
$blue: #584BDD;
// ion header css start here
.header-md:after {
    background-image: unset;
}

.home_text {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

// ion content css start here
ion-content {
    --background: #fff !important;
    &:after {
        content: "";
        background-image: url('../../assets/images/illustration.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-attachment: fixed;
        padding-right: 100%;
        padding-bottom: calc(100vh - 56px);
        z-index: 1;
        position: absolute;
    }
}

.all_content {
    padding-bottom: 20px;
    position: relative;
    z-index: 11;
}

ion-menu-button:hover {
    background-color: transparent;
}

.wether {
    display: inline-block;
    padding: 5px 25px 0px 25px;
    .wether_image {
        ion-img {
            height: 90px;
            width: 90px;
            float: left;
        }
        span {
            font-size: 18px;
            font-weight: 500;
        }
    }
    .city_name {
        p {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.home_details {
    padding: 0px 10px;
    .card {
        background: linear-gradient($purple, $blue);
        padding: 10px 15px;
        border: none;
        border-radius: 57x;
        cursor: pointer;
    }
    .booking_details p {
        font-size: 22px;
        font-weight: 200;
        margin-top: 15px;
    }
    .country_details {
        p {
            font-size: 18px;
        }
        li {
            color: #D9D9D9;
            list-style: none;
            font-size: 11px;
            line-height: 18px;
            position: relative;
            margin-left: 20px;
            &:after {
                content: "";
                width: 1px;
                height: 100%;
                background: #FFFFFF;
                position: absolute;
                left: -18px;
                top: 10px;
            }
            &:before {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #FFFFFF;
                position: absolute;
                left: -20px;
                top: 8px;
            }
        }
         :last-child {
            &:after {
                content: "";
                width: 0px !important;
                background: #FFFFFF;
            }
        }
    }
}